.progress {
	display: none;
}

#skill {
	display: none;
}

.hr {
	background-image: linear-gradient(90deg, #ffffff 0%, #378C3F 50%, #ffffff 100%);
	width: 30rem;
	height: 0.3rem
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}